-- Solution for Advent of Code {{ .Year }} day {{ .Day }}.
--
-- part_one(input) and part_two(input) each receive the puzzle input as a
-- string and must return a value (any type; it will be tostring'd).

function part_one(input)
  error("part 1 not implemented")
end

function part_two(input)
  error("part 2 not implemented")
end
