# [Day {{ .Day }}: {{ .Title }}](https://adventofcode.com/{{- .Year -}}/day/{{- .Day -}})

<!-- These are helper text snippets to make the yearly readme consistent and easier...

[Day {{ .Day -}}: {{ .Title -}}][rm{{- .Day -}}]
[Go][go{{- .Day -}}]

[rm{{- .Day -}}]: {{ .Dir -}}/README.md
[go{{- .Day -}}]: {{ .Dir -}}/go

-->

## Go

```text
< section intentionally left blank >
```

## {{ .Year }} Day {{ .Day }} Run Times

![{{ .Year }} day {{ .Day }} exercise run-time graphs](run-times.png)
