# [Day {{ .Day }}: {{ .Title }}](https://adventofcode.com/{{- .Year -}}/day/{{- .Day -}})

<!-- These are helper text to make formatting the yearly readme consistent and easier...

[Day {{ .Day -}}: {{ .Title -}}][r{{- .Day -}}]
[Go][go{{- .Day -}}]
[Python][py{{- .Day -}}]

[rm{{- .Day -}}]: {{ .Dir -}}/README.md
[go{{- .Day -}}]: {{ .Dir -}}/go
[py{{- .Day -}}]: {{ .Dir -}}/py

-->

## Go

```text
    < section intentionally left blank >
```

## Python

```text
    < section intentionally left blank >
```

## {{ .Year }} Run Times

![{{ .Year }} exercise run-time graphs](../run-times.png)
